<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/bees.css">
    <link href="https://fonts.googleapis.com/css?family=Arimo|Kodchasan|Open+Sans" rel="stylesheet">
    <link rel="icon" href="../static/images/bees-icon.png" type="image/png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>


<body>
<div class="page1">

    <div class="header">
        <a href="#default" class="logo"><img src="../static/images/bees.png"></a>
        <div class="header-right">
            <button class="kw-button">Home</button>
            <button class="kw-button">Why Us</button>
            <button class="kw-button">Resources</button>
            <button class="kw-button">Home</button>
            <button class="kw-button">Bots</button>
        </div>
    </div>


    <div class="main">
        <img class="back2" src="../static/images/image3.png">
        <img class="back1" src="../static/images/image.png">

        <div class="text-area">
            <h1>The Next Generation &nbsp;&nbsp;&nbsp;&nbsp; Of Voting </h1>
            <h6>Based on Blockchain</h6>
            <button onclick="document.getElementById('id01').style.display='none'" style="width:auto;"
                    class="kw-button2">Log In &nbsp;<i class="material-icons">touch_app</i></button>
            <button class="kw-button2">KNOW MORE &nbsp;<i class="material-icons">search</i></button>
        </div>


        <div id="id01" class="modal">

            <form class="modal-content animate">
                <div class="imgcontainer">
                    <span id='span1' onclick="document.getElementById('id01').style.display='none'" class="close"
                          title="Close Modal">&times;</span>
                    <img src="../static/images/bees.png" alt="Avatar" class="avatar">
                </div>

                <div class="container">
                    <label for="uname"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" id="nameInput" name="username" required>

                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" id="pass" name="password" required>
                    {% if msg and c==0%}
                    {{c++}}
                    <p>{{msg}}</p>
                    {% endif %}
                    <button class="kw-button2" id="sub" type="submit">Login</button>

                </div>

                <div class="container" style="background-color:#f1f1f1">
                    <button type="button" class="kw-button onclick=" document.getElementById(
                    'id01').style.display='none'" class="cancelbtn">Cancel</button>
                </div>

            </form>
        </div>


    </div>
</div>


</body>

<script>
    // Get the modal
    ///var modal = document.getElementById('id01');
    $(window).on('load', function () {
        $('#id01').show();
    });

    $("#id01").on('click', function () {
        $('#id01').show();
    });
    $("#span1").click(function () {
        $("id01").hide();
    })
    var modal = document.getElementById('id01');
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    };
    // When the user clicks anywhere outside of the modal, close it
    /// window.onload = function(event) {
    /// if (event.target == modal) {
    ///   modal.style.display = "none";
    ///}
</script>
</html>